<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="ChoiceCon"
             connectionString="Server=.;Integrated Security=True;Database=MiniProjectDB"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>